//@use 'vuetify/settings' with (
$dialog-border-radius: 15px;

$card-border-radius: 15px;
//$card-padding: 15px,
$card-elevation: 0;

$button-text-transform: none;
$button-border-radius: 15px;

//$tabs-text-transform: none,
//);
